

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#grid-container{
    border: grey solid 2px;
    background-color: grey;
    width: 550px;
    height: 550px;
    max-width: 550px;
    max-height: 550px;
}

.row-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    line-height:30px;
}
.square {
    margin: 0.5px;
    flex: 1;
}

.square::before {
    content:'';
    float:left;
    padding-top:100%;
}

.buttons .button  {

    background-color: #EE4B2B;
    border: 1px solid #D22B2B;
    color: white;
    padding: 18px 36px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-top: 2rem;
    
}

.buttons .button{
    border-right: none;
}

